body {
    width: 100%;
    background-color: rgb(160, 238, 144);
}

.container--content {
    margin: 0 auto;
    justify-content: center;
}

.container--header{
    height: fit-content;
    width: 100%;
    background-color: rgb(82, 2, 92);
    color: #ffffff;
    margin: 0 auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.container--instructions{
    padding-top: 1em;
    padding-bottom: 2em;
    padding-right: 1em;
    height: fit-content;
    width: 50%;
    background-color: rgb(255, 217, 0);
    color: green;
    margin: 1em auto;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
}

.container--gameNumScore{
    width: 50%;
    margin: 0 auto;
    padding-left: 0;
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
    display: inline;
    text-align: center;
} 

.container--crystals{
    margin: 0 auto;
    width: 50%;
    height: fit-content;
    padding-top: 1em;
    
}

.container--userScore{
    margin-left: 0 auto;
    width: 50%;
    height: fit-content;
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
    display: inline;
    text-align: center;


}